
  
  <p>
    <mat-toolbar color="primary">
      <mat-toolbar-row class='container'>
        <a [routerLink]="['/']" >
            <span>Courses Center</span>
            
        </a>   

        <a class='header-3' [routerLink]="['/students']" [routerLinkActive]="['is-active']">
            <span>Students</span>
        </a>
   
        <a class='header-3' [routerLink]="['/courses']" [routerLinkActive]="['is-active']">
            <span>Courses</span>
        </a>       
   
      </mat-toolbar-row>
  
  
    </mat-toolbar>
  </p>
  