<h1>Course Form</h1>

<form class="example-form" [formGroup]="formGroup">

    <div>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label> Course Name</mat-label>
      <input matInput placeholder="Ex. Science" formControlName="name"  value="Science">
    </mat-form-field>
    </div>

    <!-- Start Date And End Date -->
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Enter a date range</mat-label>
            <mat-date-range-input  [rangePicker]="picker">
              <input matStartDate formControlName="startDate" placeholder="Start date">
              <input matEndDate formControlName="endDate" placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          
            <mat-error *ngIf="formGroup.controls['startDate'].hasError('matStartDateInvalid')">Invalid start date</mat-error>
            <mat-error *ngIf="formGroup.controls['endDate'].hasError('matEndDateInvalid')">Invalid end date</mat-error>
          </mat-form-field>
    <!--  -->
</div>

<button  mat-flat-button color="primary" (click)='submitForm()' [disabled]="formGroup.invalid">Submit</button>

  </form>